{% extends 'base.html.twig' %}

{% block title %} Checkout !{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
<div class="bg-light p-1">
<h2>Checkout Form</h2>
</div>
<div class="bg-light p-1">

{% if items | length >0 %}
<h3 style="float : center ">the amount to pay : {{ total }} € </h3>
</div>


<section>
<table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Billing Address</th>
                <th>Payment</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td></td>
            {{form_start(form)}}
                <td><i class="fa fa-user">{{ form_row(form.FullName) }}</i>
                    <i class="fa fa-envelope">{{ form_row(form.Email) }}</i><br>
                   <i class="fa fa-address-card">{{ form_row(form.Address) }}</i>
                    <i class="fas fa-city">{{ form_row(form.city) }}</i></td>
                    
                
                <td>{{ form_row(form.nameC) }}
                    {{ form_row(form.CN) }}
                    {{ form_row(form.ExpM) }}
                    {{ form_row(form.ExpY) }}
                    {{ form_row(form.CVV) }}</td>
            </tr>
        </tbody>
     
    </table>
<div class="bg-light p-1" style="float : center " >
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn btn-success btn"><i class="far fa-credit-card "></i> Validate your payment </button>

        {{ form_end(form)}}
</div>
<div class="bg-light p-3">
</div>
</setion>

{% endif %}


{% endblock %}